In [1]:
import pandas as pd #Untuk memasukkan dataset ke dataframe
from sklearn.tree import DecisionTreeClassifier #Memakai algoritma Decision Tree
from sklearn.model_selection import train_test_split #untuk membagi data training dan data testing
# Library dibawah untuk melihat akurasi dll
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [2]:
!pip install -U hopsworks --quiet

In [3]:
import hopsworks

import os
os.environ['CONDA_DLL_SEARCH_MODIFICATION_ENABLE'] = '1' #setting the env variable

In [4]:
# load dataset
data = pd.read_csv("data_recommendation.csv")

In [5]:
#menampilkan data teratas dari dataframe
data.head(30)

     N   P   K  temperature   humidity        ph    rainfall label
0   90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1   85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2   60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3   74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4   78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5   69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6   69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7   94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8   89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9   68  58  38    23.223974  83.033227  6.336254  221.209196  rice
10  91  53  40    26.527235  81.417538  5.386168  264.614870  rice
11  90  46  42    23.978982  81.450616  7.502834  250.083234  rice
12  78  58  44    26.800796  80.886848  5.108682  284.436457  rice
13  93  56  36    24.014976  82.056872  6.984354  185.277339  rice
14  94  50  37    25.665852  80.663850  6.948020  209.586971  rice
15  60  48  39    24.282094  80.300256  7.042299  231.086335  rice
16  85  38  41    21.587118  82.788371  6.249051  276.655246  rice
17  91  35  39    23.793920  80.418180  6.970860  206.261186  rice
18  77  38  36    21.865252  80.192301  5.953933  224.555017  rice
19  88  35  40    23.579436  83.587603  5.853932  291.298662  rice
20  89  45  36    21.325042  80.474764  6.442475  185.497473  rice
21  76  40  43    25.157455  83.117135  5.070176  231.384316  rice
22  67  59  41    21.947667  80.973842  6.012633  213.356092  rice
23  83  41  43    21.052536  82.678395  6.254028  233.107582  rice
24  98  47  37    23.483813  81.332651  7.375483  224.058116  rice
25  66  53  41    25.075635  80.523891  7.778915  257.003887  rice
26  97  59  43    26.359272  84.044036  6.286500  271.358614  rice
27  97  50  41    24.529227  80.544986  7.070960  260.263403  rice
28  60  49  44    20.775761  84.497744  6.244841  240.081065  rice
29  84  51  35    22.301574  80.644165  6.043305  197.979121  rice

In [6]:
#melihat data terakhir dari dataframe
data.tail(10)

       N   P   K  temperature   humidity        ph    rainfall label
1190  80  43  43    23.787560  74.367941  6.014572  172.644265  jute
1191  77  55  43    25.499417  75.999876  6.663559  193.714183  jute
1192  95  57  41    23.249256  73.653468  6.434611  184.767486  jute
1193  63  47  35    26.985822  89.055879  7.432768  193.877871  jute
1194  93  43  38    23.614753  86.142903  6.987333  150.235524  jute
1195  87  44  43    23.874845  86.792613  6.718725  177.514731  jute
1196  88  52  39    23.928879  88.071123  6.880205  154.660874  jute
1197  90  39  37    24.814412  81.686889  6.861069  190.788639  jute
1198  90  39  43    24.447439  82.286484  6.769346  190.968489  jute
1199  84  38  43    26.574217  73.819949  7.261581  159.322307  jute

In [7]:
data.shape

(1200, 8)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1200 non-null   int64
 1   P            1200 non-null   int64
 2   K            1200 non-null   int64
 3   temperature  1200 non-null   float64
 4   humidity     1200 non-null   float64
 5   ph           1200 non-null   float64
 6   rainfall     1200 non-null   float64
 7   label        1200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 75.1+ KB

In [9]:
#menghitung jumlah nilai yang hilang (NaN) dalam setiap kolom dari suatu dataset
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [10]:
### Preprocessing Data

In [11]:
#mengecek label dalam dataset
data['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'watermelon',
       'muskmelon', 'jute'], dtype=object)

In [12]:
#untuk menghapus baris yang duplikat
data.drop_duplicates()

       N   P   K  temperature   humidity        ph    rainfall label
0     90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1     85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2     60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3     74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4     78  42  42    20.130175  81.604873  7.628473  262.717340  rice
...   ..  ..  ..          ...        ...       ...         ...   ...
1195  87  44  43    23.874845  86.792613  6.718725  177.514731  jute
1196  88  52  39    23.928879  88.071123  6.880205  154.660874  jute
1197  90  39  37    24.814412  81.686889  6.861069  190.788639  jute
1198  90  39  43    24.447439  82.286484  6.769346  190.968489  jute
1199  84  38  43    26.574217  73.819949  7.261581  159.322307  jute

[1200 rows x 8 columns]

In [13]:
data['label'].value_counts()

rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
watermelon     100
muskmelon      100
jute           100
Name: label, dtype: int64

In [14]:
### Authenticate with Hopsworks with API Key

In [15]:
project = hopsworks.login()
fs = project.get_feature_store()
#aC4NKZxmGgbD2WbO.I7JjlGKs8ushdZsJn4xZpEAchkoG1sA5oySo5vQ4QX5isHrFpIzZhCPQlTRmb2PX

Copy your Api Key (first register/login): https://c.app.hopsworks.ai/account/api/generated

Paste it here: ········
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/20697

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Connected. Call `.close()` to terminate connection gracefully.

In [16]:
agriculture_fg = fs.get_or_create_feature_group(name="agriculture",
                                  version=1,
                                  primary_key=["N","P","K","temperature","humidity", "ph", "rainfall"],
                                  description="agriculture dataset"
                                 )

agriculture_fg.insert(data)

FeatureGroupWarning: The ingested dataframe contains upper case letters in feature names: `['N', 'P', 'K']`. Feature names are sanitized to lower case in the feature store.

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/20697/fs/20617/fg/64927

Uploading Dataframe: 0.00% |          | Rows 0/1200 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/20697/jobs/named/agriculture_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x2e617df6ee0>, None)